<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dofus Quests, site communautaire{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% include('includes/_navbar.html.twig') %}
</header>
<main class="min-h-screen-custom">
    {% block body %}{% endblock %}
</main>
</body>
</html>
